.scroll {
  position: absolute;
  left: 50%;
  top: 115vh;

  &::before {
    position: absolute;
    left: 50%;
    top: 8px;
    margin-left: -4px;

    content: "";
    background: var(--light-text-color);

    width: 8px;
    height: 8px;

    border-radius: 4px;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: scroll;
  }

  width: 40px;
  zoom: 0.8;
  height: 70px;
  margin-left: -20px;
  margin-top: -1rem;
  box-shadow: inset 0 0 0 1px var(--light-text-color);
  border-radius: 25px;
  cursor: pointer;
  z-index: 1000;
  transition: opacity 0.5s ease-out;

  &:hover {
    opacity: 0.5;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

@keyframes scroll {
  0% {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(46px);
  }
}
