.header {
  height: 101vh;
  padding: 0 2.5rem 15rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("/semicircle.svg"), #111112;
  background-position: 50% 100%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;

  .text {
    margin: 0;
    line-height: 1;
    font-size: 3.6rem;
    color: var(--accent-color);

    &__name {
      font-family: "Nanum Pen Script", cursive;
      font-size: 14.4rem;
      padding-left: 16px;
      display: block;
      margin: 1rem 0;
      color: var(--text-color);
      line-height: 0.7;
    }
  }

  .links {
    line-height: 1;
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem 0 0;
    color: var(--light-text-color);

    a:hover {
      text-decoration: underline;
    }
  }

  @media only screen and (max-width: 768px) {
    height: auto;
    padding: 6rem 2rem 8rem;

    .text {
      font-size: 2.6rem;

      &__name {
        font-size: 10rem;
      }
    }

    .links {
      font-size: 1.5rem;
    }
  }
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
}

.container {
  text-align: left;
  width: 56vw;
  max-width: 120rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;

  .col {
    &__name {
      width: 60%;
    }

    &__image {
      display: flex;
      justify-content: flex-end;
      width: 40%;
      margin: auto;
      animation: bounce 3s ease-in-out infinite;

      img {
        width: 80%;
      }
    }
  }

  @media only screen and (max-width: 1366px) {
    width: 80%;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;

    .row {
      flex-direction: column-reverse;
    }

    .col {
      &__name {
        width: 100%;
      }

      &__image {
        width: 100%;
        justify-content: center;

        img {
          width: 55%;
          margin: 0 auto 4rem auto;
        }
      }
    }
  }
}

.heading {
  line-height: 1;
  font-size: 3.6em;
  font-weight: 600;
}

.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 0 auto;

    @media only screen and (max-width: 1366px) {
      grid-template-columns: 50% 50%;
    }

    @media only screen and (max-width: 768px) {
      grid-template-columns: 100%;
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-6px);
  }

  50% {
    transform: translateY(6px);
  }
}

.project {
  &__card {
    width: 95%;
  }

  &__tools {
    margin-top: auto;
    margin-bottom: -0.75rem;

    img {
      margin-right: 0.75rem;
      margin-bottom: 0.75rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;

    a:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}

.aboutme {
  width: 100%;
  display: flex;
  flex-direction: row;

  margin: 10rem 0 15rem;

  img {
    width: auto;
  }

  &__image {
    width: auto;
  }

  @media only screen and (max-width: 768px) {
    flex-direction: column;
    margin: 5rem 1rem;
  }
}

.footer {
  color: var(--light-text-color);

  background: url("/semicircle_up.svg"), #111112;
  background-position: 50% 0%, 0px 0px;
  background-size: contain, auto;
  background-repeat: no-repeat, repeat;

  position: relative;
  padding-top: 9rem;
  padding-bottom: 8rem;

  margin-top: 10rem;

  text-align: center;

  a {
    &:hover {
      text-decoration: underline;
    }
  }

  p {
    margin: 0.5rem 0;
  }
}
